body {
    background-image: url("../images/background.png");
    background-size: 100%;
}

p {
    font-family: Treamd;
    color: white;
    font-size: 30px;
    text-shadow: 0.07em 0 black, 0 0.07em black, -0.07em 0 black, 0 -0.07em black;
}

#instructions {
    font-family: sans-serif;
    font-size: 18px;
}

.jumbotron {
    text-align: center;
    background: none;
}

.treasure {
    text-align: center;
}

.transparent {
    background: rgba(66, 63, 63, 0.5);
}

.button {
    height: 100px;
    width: 100px;
}

#red:hover {
    cursor: pointer;
    animation: bounce 1s;
}

#blue:hover {
    cursor: pointer;
    animation: bounce 1s;
}

#yellow:hover {
    cursor: pointer;
    animation: bounce 1s;
}

#green:hover {
    cursor: pointer;
    animation: bounce 1s;
}

@keyframes bounce {
    0%,
    100%,
    20%,
    50%,
    80% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0)
    }
    40% {
        -webkit-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        transform: translateY(-20px)
    }
    60% {
        -webkit-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        transform: translateY(-10px)
    }
}

/* Animation for falling gems */

.gems {
    z-index: -1;
    top: 0px;
    width: 100%;
    height: 100%;
    min-height: 800px;
    position: absolute;
    left: 0%;
    background-size: cover;
}

.loader {
    text-align: center;
}

.loader span {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: -280px 40px 54px -34px;
    background: url("../images/redicon.png");
    -webkit-animation: loader 10s infinite linear;
    -moz-animation: loader 10s infinite linear;
}

.loader span:nth-child(5n+5) {
    -webkit-animation-delay: 1.3s;
    -moz-animation-delay: 1.3s;
}

.loader span:nth-child(3n+2) {
    -webkit-animation-delay: 1.5s;
    -moz-animation-delay: 1.5s;
}

.loader span:nth-child(2n+5) {
    -webkit-animation-delay: 1.7s;
    -moz-animation-delay: 1.7s;
}

.loader span:nth-child(3n+10) {
    -webkit-animation-delay: 2.7s;
    -moz-animation-delay: 2.7s;
}

.loader span:nth-child(7n+2) {
    -webkit-animation-delay: 3.5s;
    -moz-animation-delay: 3.5s;
}

.loader span:nth-child(4n+5) {
    -webkit-animation-delay: 5.5s;
    -moz-animation-delay: 5.5s;
}

.loader span:nth-child(3n+7) {
    -webkit-animation-delay: 8s;
    -moz-animation-delay: 8s;
}

@-webkit-keyframes loader {
    0% {
        width: 50px;
        height: 50px;
        opacity: 1;
        -webkit-transform: translate(0, 0px) rotateZ(0deg);
    }
    75% {
        width: 50px;
        height: 50px;
        opacity: 1;
        -webkit-transform: translate(100px, 600px) rotateZ(270deg);
    }
    100% {
        width: 50px;
        height: 50px;
        opacity: 0;
        -webkit-transform: translate(150px, 800px) rotateZ(360deg);
    }
}

@-moz-keyframes loader {
    0% {
        width: 50px;
        height: 50px;
        opacity: 1;
        -webkit-transform: translate(0, 0px) rotateZ(0deg);
    }
    75% {
        width: 50px;
        height: 50px;
        opacity: 1;
        -webkit-transform: translate(100px, 600px) rotateZ(270deg);
    }
    100% {
        width: 50px;
        height: 50px;
        opacity: 0;
        -webkit-transform: translate(150px, 800px) rotateZ(360deg);
    }
}

/* Glowing animation for the gems */

#red {
    margin: 10px;
    padding: 0;
    border-radius: 50%;
    /* box-shadow: 0px 0px 9px 4px red; */
    filter: drop-shadow(0 0 10px rgb(247, 120, 120));
    animation: redglow 1.5s linear infinite alternate;
}

@keyframes redglow {
    to {
        /* box-shadow: 0px 0px 12px 8px red; */
        filter: drop-shadow(0 0 25px red);
    }
}

#blue {
    margin: 10px;
    padding: 0;
    border-radius: 50%;
    /* box-shadow: 0px 0px 9px 4px red; */
    filter: drop-shadow(0 0 10px rgb(113, 110, 248));
    animation: blueglow 1.5s linear infinite alternate;
}

@keyframes blueglow {
    to {
        /* box-shadow: 0px 0px 12px 8px red; */
        filter: drop-shadow(0 0 25px blue);
    }
}

#yellow {
    margin: 10px;
    padding: 0;
    border-radius: 50%;
    /* box-shadow: 0px 0px 9px 4px red; */
    filter: drop-shadow(0 0 10px rgb(243, 234, 103));
    animation: yellowglow 1.5s linear infinite alternate;
}

@keyframes yellowglow {
    to {
        /* box-shadow: 0px 0px 12px 8px red; */
        filter: drop-shadow(0 0 25px yellow);
    }
}

#green {
    margin: 10px;
    padding: 0;
    border-radius: 50%;
    /* box-shadow: 0px 0px 9px 4px red; */
    filter: drop-shadow(0 0 10px rgb(148, 252, 99));
    animation: greenglow 1.5s linear infinite alternate;
}

@keyframes greenglow {
    to {
        /* box-shadow: 0px 0px 12px 8px red; */
        filter: drop-shadow(0 0 25px green);
    }
}

/* A font I found online */

@font-face {
    font-family: Treamd;
    src: url("../fonts/Treamd.ttf");
}